*.o
kernel.bin
kernel.linux*
kernel.map
initrd
sysroot
cdrom.iso
disk_image
boot.bin
iso/boot/initrd
iso/boot/kernel.bin
tftp/*.c32
tftp/pxelinux.0
libc.a
libdl.a
libg.a
libm.a
alloc
box
chat
crash
draw
flash
forkbomb
getty
hello
hello++
hexdump
hostname
init
sh
testcases
tolower
truncate
unixping
unixserver
dumpelf
dumpext2
dumpgpt
ext2test
heaptest
.sysroot
.toolchain-*-binutils
.toolchain-*-stage1
.toolchain-*-stage2
toolchain-*-pc-elf
